 <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/iCheck/icheck.min.js"></script>
	<script src="plugins/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script>
	<script src="plugins/datatables/media/js/dataTables.responsive.min.js"></script>
	<script src="plugins/datatables/media/js/responsive.bootstrap.min.js"></script>
	<script src="plugins/datatables/media/js/dataTables.buttons.min.js"></script>
	<script src="plugins/datatables/media/js/buttons.flash.min.js"></script>
	<script src="plugins/datatables/media/js/jszip.min.js"></script>
	<script src="plugins/datatables/media/js/pdfmake.min.js"></script>
	<script src="plugins/datatables/media/js/vfs_fonts.js"></script>
	<script src="plugins/datatables/media/js/buttons.html5.min.js"></script>
	<script src="plugins/datatables/media/js/buttons.print.min.js"></script>
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="plugins/fastclick/fastclick.min.js"></script>
	<script src="scripts/admin.js"></script>
	<script src="scripts/config.js"></script>
	<script src="scripts/preloader.js"></script>
	<script src="scripts/ajax.js"></script>
