<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="font/css/font-awesome.min.css">
		<link rel="stylesheet" href="style/admin.css">
		<link rel="stylesheet" href="style/mystyle.css">
		<link rel="stylesheet" href="plugins/iCheck/square/blue.css">
		<link href="plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
		<link href="plugins/datatables/plugins/bootstrap/responsive.bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="plugins/datatables/plugins/bootstrap/responsive.dataTables.min.css" rel="stylesheet" type="text/css">
		<link href="plugins/datatables/plugins/bootstrap/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style/skins/skin-blue.css">